.stack-work
commands
test/TestCommands.c
test/TestCommands.dyn_hi
test/TestCommands.dyn_o
test/TestCommands.hi
test/TestCommands.o
src/*.js
src/*.css
scott-test
scott-test.prof
scott-test.aux
scott-test.svg
scott-test.hp
scott-test.ps
scott-test.*
example/Main.hi
example/Main.o
ridley-extras/dist
